ClientCode/IMessagingSystem/Web References/RegistrationService/RegistrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DOB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Remove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="RegisterSoapIn">
    <part name="parameters" element="s0:Register" />
  </message>
  <message name="RegisterSoapOut">
    <part name="parameters" element="s0:RegisterResponse" />
  </message>
  <message name="RemoveSoapIn">
    <part name="parameters" element="s0:Remove" />
  </message>
  <message name="RemoveSoapOut">
    <part name="parameters" element="s0:RemoveResponse" />
  </message>
  <message name="RegisterHttpGetIn">
    <part name="FN" type="s:string" />
    <part name="LN" type="s:string" />
    <part name="UserId" type="s:string" />
    <part name="SN" type="s:string" />
    <part name="DOB" type="s:string" />
    <part name="Email" type="s:string" />
    <part name="Password" type="s:string" />
  </message>
  <message name="RegisterHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="RemoveHttpGetIn">
    <part name="UserId" type="s:string" />
  </message>
  <message name="RemoveHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="RegisterHttpPostIn">
    <part name="FN" type="s:string" />
    <part name="LN" type="s:string" />
    <part name="UserId" type="s:string" />
    <part name="SN" type="s:string" />
    <part name="DOB" type="s:string" />
    <part name="Email" type="s:string" />
    <part name="Password" type="s:string" />
  </message>
  <message name="RegisterHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="RemoveHttpPostIn">
    <part name="UserId" type="s:string" />
  </message>
  <message name="RemoveHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="RegistrationServiceSoap">
    <operation name="Register">
      <input message="s0:RegisterSoapIn" />
      <output message="s0:RegisterSoapOut" />
    </operation>
    <operation name="Remove">
      <input message="s0:RemoveSoapIn" />
      <output message="s0:RemoveSoapOut" />
    </operation>
  </portType>
  <portType name="RegistrationServiceHttpGet">
    <operation name="Register">
      <input message="s0:RegisterHttpGetIn" />
      <output message="s0:RegisterHttpGetOut" />
    </operation>
    <operation name="Remove">
      <input message="s0:RemoveHttpGetIn" />
      <output message="s0:RemoveHttpGetOut" />
    </operation>
  </portType>
  <portType name="RegistrationServiceHttpPost">
    <operation name="Register">
      <input message="s0:RegisterHttpPostIn" />
      <output message="s0:RegisterHttpPostOut" />
    </operation>
    <operation name="Remove">
      <input message="s0:RemoveHttpPostIn" />
      <output message="s0:RemoveHttpPostOut" />
    </operation>
  </portType>
  <binding name="RegistrationServiceSoap" type="s0:RegistrationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Register">
      <soap:operation soapAction="http://tempuri.org/Register" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/Remove" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="RegistrationServiceHttpGet" type="s0:RegistrationServiceHttpGet">
    <http:binding verb="GET" />
    <operation name="Register">
      <http:operation location="/Register" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Remove">
      <http:operation location="/Remove" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="RegistrationServiceHttpPost" type="s0:RegistrationServiceHttpPost">
    <http:binding verb="POST" />
    <operation name="Register">
      <http:operation location="/Register" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Remove">
      <http:operation location="/Remove" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="RegistrationService">
    <port name="RegistrationServiceSoap" binding="s0:RegistrationServiceSoap">
      <soap:address location="http://localhost/RegistrationService/RegistrationService.asmx" />
    </port>
    <port name="RegistrationServiceHttpGet" binding="s0:RegistrationServiceHttpGet">
      <http:address location="http://localhost/RegistrationService/RegistrationService.asmx" />
    </port>
    <port name="RegistrationServiceHttpPost" binding="s0:RegistrationServiceHttpPost">
      <http:address location="http://localhost/RegistrationService/RegistrationService.asmx" />
    </port>
  </service>
</definitions>