ClientCode/IMessagingSystem/Web References/AuthService/AuthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www20.brinkster.com/madhuprasanna/AuthService/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www20.brinkster.com/madhuprasanna/AuthService/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www20.brinkster.com/madhuprasanna/AuthService/">
      <s:element name="TestConnection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestConnectionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChallengeRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChallengeRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChallengeRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PasswordChallenge" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CloseSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PasswordChallenge" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CloseSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CloseSessionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="TestConnectionSoapIn">
    <part name="parameters" element="s0:TestConnection" />
  </message>
  <message name="TestConnectionSoapOut">
    <part name="parameters" element="s0:TestConnectionResponse" />
  </message>
  <message name="ChallengeRequestSoapIn">
    <part name="parameters" element="s0:ChallengeRequest" />
  </message>
  <message name="ChallengeRequestSoapOut">
    <part name="parameters" element="s0:ChallengeRequestResponse" />
  </message>
  <message name="AuthenticateSoapIn">
    <part name="parameters" element="s0:Authenticate" />
  </message>
  <message name="AuthenticateSoapOut">
    <part name="parameters" element="s0:AuthenticateResponse" />
  </message>
  <message name="CloseSessionSoapIn">
    <part name="parameters" element="s0:CloseSession" />
  </message>
  <message name="CloseSessionSoapOut">
    <part name="parameters" element="s0:CloseSessionResponse" />
  </message>
  <message name="TestConnectionHttpGetIn">
    <part name="TestString" type="s:string" />
  </message>
  <message name="TestConnectionHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="ChallengeRequestHttpGetIn">
    <part name="UserId" type="s:string" />
  </message>
  <message name="ChallengeRequestHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="AuthenticateHttpGetIn">
    <part name="UserId" type="s:string" />
    <part name="PasswordChallenge" type="s:string" />
  </message>
  <message name="AuthenticateHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="CloseSessionHttpGetIn">
    <part name="UserId" type="s:string" />
    <part name="PasswordChallenge" type="s:string" />
  </message>
  <message name="CloseSessionHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="TestConnectionHttpPostIn">
    <part name="TestString" type="s:string" />
  </message>
  <message name="TestConnectionHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="ChallengeRequestHttpPostIn">
    <part name="UserId" type="s:string" />
  </message>
  <message name="ChallengeRequestHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="AuthenticateHttpPostIn">
    <part name="UserId" type="s:string" />
    <part name="PasswordChallenge" type="s:string" />
  </message>
  <message name="AuthenticateHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="CloseSessionHttpPostIn">
    <part name="UserId" type="s:string" />
    <part name="PasswordChallenge" type="s:string" />
  </message>
  <message name="CloseSessionHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="AuthServiceSoap">
    <operation name="TestConnection">
      <input message="s0:TestConnectionSoapIn" />
      <output message="s0:TestConnectionSoapOut" />
    </operation>
    <operation name="ChallengeRequest">
      <input message="s0:ChallengeRequestSoapIn" />
      <output message="s0:ChallengeRequestSoapOut" />
    </operation>
    <operation name="Authenticate">
      <input message="s0:AuthenticateSoapIn" />
      <output message="s0:AuthenticateSoapOut" />
    </operation>
    <operation name="CloseSession">
      <input message="s0:CloseSessionSoapIn" />
      <output message="s0:CloseSessionSoapOut" />
    </operation>
  </portType>
  <portType name="AuthServiceHttpGet">
    <operation name="TestConnection">
      <input message="s0:TestConnectionHttpGetIn" />
      <output message="s0:TestConnectionHttpGetOut" />
    </operation>
    <operation name="ChallengeRequest">
      <input message="s0:ChallengeRequestHttpGetIn" />
      <output message="s0:ChallengeRequestHttpGetOut" />
    </operation>
    <operation name="Authenticate">
      <input message="s0:AuthenticateHttpGetIn" />
      <output message="s0:AuthenticateHttpGetOut" />
    </operation>
    <operation name="CloseSession">
      <input message="s0:CloseSessionHttpGetIn" />
      <output message="s0:CloseSessionHttpGetOut" />
    </operation>
  </portType>
  <portType name="AuthServiceHttpPost">
    <operation name="TestConnection">
      <input message="s0:TestConnectionHttpPostIn" />
      <output message="s0:TestConnectionHttpPostOut" />
    </operation>
    <operation name="ChallengeRequest">
      <input message="s0:ChallengeRequestHttpPostIn" />
      <output message="s0:ChallengeRequestHttpPostOut" />
    </operation>
    <operation name="Authenticate">
      <input message="s0:AuthenticateHttpPostIn" />
      <output message="s0:AuthenticateHttpPostOut" />
    </operation>
    <operation name="CloseSession">
      <input message="s0:CloseSessionHttpPostIn" />
      <output message="s0:CloseSessionHttpPostOut" />
    </operation>
  </portType>
  <binding name="AuthServiceSoap" type="s0:AuthServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="TestConnection">
      <soap:operation soapAction="http://www20.brinkster.com/madhuprasanna/AuthService/TestConnection" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ChallengeRequest">
      <soap:operation soapAction="http://www20.brinkster.com/madhuprasanna/AuthService/ChallengeRequest" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Authenticate">
      <soap:operation soapAction="http://www20.brinkster.com/madhuprasanna/AuthService/Authenticate" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CloseSession">
      <soap:operation soapAction="http://www20.brinkster.com/madhuprasanna/AuthService/CloseSession" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="AuthServiceHttpGet" type="s0:AuthServiceHttpGet">
    <http:binding verb="GET" />
    <operation name="TestConnection">
      <http:operation location="/TestConnection" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ChallengeRequest">
      <http:operation location="/ChallengeRequest" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Authenticate">
      <http:operation location="/Authenticate" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CloseSession">
      <http:operation location="/CloseSession" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="AuthServiceHttpPost" type="s0:AuthServiceHttpPost">
    <http:binding verb="POST" />
    <operation name="TestConnection">
      <http:operation location="/TestConnection" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ChallengeRequest">
      <http:operation location="/ChallengeRequest" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Authenticate">
      <http:operation location="/Authenticate" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CloseSession">
      <http:operation location="/CloseSession" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="AuthService">
    <port name="AuthServiceSoap" binding="s0:AuthServiceSoap">
      <soap:address location="http://localhost/AuthService/AuthService.asmx" />
    </port>
    <port name="AuthServiceHttpGet" binding="s0:AuthServiceHttpGet">
      <http:address location="http://localhost/AuthService/AuthService.asmx" />
    </port>
    <port name="AuthServiceHttpPost" binding="s0:AuthServiceHttpPost">
      <http:address location="http://localhost/AuthService/AuthService.asmx" />
    </port>
  </service>
</definitions>